@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

a{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: #ff6600;
	text-decoration: none;
	margin: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

i{
	margin-right: 5px;
}

nav{
	display: flex;
	flex-direction: row;
	border: 4px solid #ff6600;
	justify-content: flex-end;
}

@media screen and (max-width: 920px){
	nav{
		justify-content: space-around;
	}
	a{
		font-size: 26px;
	}
}

a:hover{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: darkorange;
	text-decoration: none;
}
@media screen and (max-width: 500px){
	nav{
		align-items: center;
		flex-direction: column;
	}
}

